<% provide(:title, "Index") %>

<h1>Welcome to the amazing Tokimon World</h1>

<table style="width:100%">
<thead>
	<tr>
		<th>Name</th>
		<th>Age</th>
		<th>Height</th>
		<th>Weight</th>
		<th>Level</th>
		<th>Address</th>
		<th>Email</th>
		<th></th>
		<th></th>
		

	</tr>
	</thead>

	<tbody>
	<% @trainers.each do |trainer| %>
	<tr>
		<td><%= trainer.name %></td>
		<td><%= trainer.age %></td>
		<td><%= trainer.height %></td>
		<td><%= trainer.weight %></td>
		<td><%= trainer.level %></td>
		<td><%= trainer.address %></td>
		<td><%= trainer.email %></td>
		<td><%= link_to "Profile", trainer %></td>
		<td><%= link_to "Delete", trainer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr> 
	<% end %>
	</tbody>
</table>

<br>

<%= link_to "create a new trainer!", new_trainer_path, class: "btn btn-lg btn-primary" %>

<br>
<br>
<h3>Bar chart for levels: </h3>
<%= bar_chart Trainer.group(:name).sum(:level) %>

