<h1>The trainer's Profile</h1>

<p id="notice"><%= notice %></p>

<table align="center">
<p>
<strong>Name: </strong>
<%= @trainer.name %>
	
</p>

<p>
<strong>age: </strong>
<%= @trainer.age %>
	
</p>

<p>
<strong>Height: </strong>
<%= @trainer.height %>
	
</p>

<p>
<strong>Weight: </strong>
<%= @trainer.weight %>
	
</p>

<p>
<strong>Level: </strong>
<%= @trainer.level = @count %>
	
</p>

<p>
<strong>Address: </strong>
<%= @trainer.address %>
	
</p>

<p>
<strong>Email: </strong>
<%= @trainer.email %>
	
</p>


<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %> |
<%= link_to 'Create a new tokimon', new_tokimon_path %>
<br>

<div class="col-md-8">
 
    <% if @trainer.tokimons.any? %>
      <h3> Total tokimons (<%= @trainer.tokimons.count %>)</h3>
      <ol class="tokimons">
        <%= render 'tokimons/tokimon' %>
      </ol>
      
    <% end %>
  </div>



